plymouth-themes-anarchistos_*.tar.xz
plymouth-themes-anarchistos_*.dsc
plymouth-theme-anarchist_*_all.deb
plymouth-theme-cannabis_*_all.deb
plymouth-themes-anarchistos_*_amd64.buildinfo
plymouth-themes-anarchistos_*_amd64.changes

