plymouth-theme-anarchistos_*.tar.xz
plymouth-theme-anarchistos_*.dsc
plymouth-theme-anarchist_*_all.deb
plymouth-theme-cannabis_*_all.deb
plymouth-theme-anarchistos_*_amd64.buildinfo
plymouth-theme-anarchistos_*_amd64.changes
s
