Source: plymouth-theme-anarchistos
Section: misc
Priority: optional
Maintainer: AreYouLoco? <areyouloco@paranoici.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.5
Homepage: https://www.anarchistos.tk

Package: plymouth-theme-anarchistos
Architecture: all
Depends: plymouth, plymouth-themes, plymouth-themes-script, plymouth-x11
Breaks: plymouth-drm (<< 0.9.0-6~)
Description: This package provides the following Anarchistos Linux
 themes: anarchist and cannabis.
