Source: plymouth-themes-anarchistos
Section: misc
Priority: optional
Maintainer: AreYouLoco? <areyouloco@paranoici.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.0.0
Vcs-Browser: https://github.com/anarchistos/plymouth-themes-anarchistos
Vcs-Git: git://github.com/anarchistos/plymouth-themes-anarchistos.git
Homepage: https://www.anarchistos.tk/

Package: plymouth-theme-cannabis
Architecture: all
Depends: plymouth, plymouth-themes
Breaks: plymouth-drm (<< 0.9.0-6~)
Description: This package provides the cannabis Plymouth theme
 for Anarchistos Linux.

Package: plymouth-theme-anarchist
Architecture: all
Depends: plymouth, plymouth-themes
Breaks: plymouth-drm (<< 0.9.0-6~)
Description: This package provides the anarchist Plymouth theme
 for Anarchistos Linux.
